<robot name="camera"
    xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="robot_camera">

        <xacro:property name="camera_length" value="0.03" />
        <xacro:property name="camera_width" value="0.015" />
        <xacro:property name="camera_height" value="0.015" />
        <xacro:property name="camera_mass" value="0.01" />
        <xacro:property name="camera_x" value="0.09" />
        <xacro:property name="camera_y" value="0.0" />
        <xacro:property name="camera_z" value="0.048" />

        <!-- CAMERA -->
        <link name="camera">
            <visual>
                <geometry>
                    <box size="${camera_length} ${camera_width} ${camera_height}" />
                </geometry>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
                <material name="black" />
            </visual>
            <collision>
                <geometry>
                    <box size="${camera_length} ${camera_width} ${camera_height}" />
                </geometry>
            </collision>
            <xacro:Box_inertial_matrix  m ="${camera_mass}" l ="${camera_length}" w ="${camera_width}" h ="${camera_height}" />
        </link>

        <joint name="camera_joint" type="fixed">
            <parent link="base_link" />
            <child link="camera" />
            <origin xyz="${camera_x} ${camera_y} ${camera_z}" />
        </joint>

        <gazebo reference="camera">
            <material>Gazebo/Red</material>
            <gravity>true</gravity>
            <sensor type="camera" name="camera_sensor">
                <update_rate>30.0</update_rate>
                <camera name="head">
                    <horizontal_fov>1.3962634</horizontal_fov>
                    <image>
                        <width>1280</width>
                        <height>720</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.02</near>
                        <far>300</far>
                    </clip>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.007</stddev>
                    </noise>
                </camera>
                <plugin name="gazebo_camera" filename="libgazebo_ros_camera.so">
                    <alwaysOn>true</alwaysOn>
                    <updateRate>0.0</updateRate>
                    <cameraName>/camera</cameraName>
                    <imageTopicName>image_raw</imageTopicName>
                    <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                    <frameName>camera_link</frameName>
                    <hackBaseline>0.07</hackBaseline>
                    <distortionK1>0.0</distortionK1>
                    <distortionK2>0.0</distortionK2>
                    <distortionK3>0.0</distortionK3>
                    <distortionT1>0.0</distortionT1>
                    <distortionT2>0.0</distortionT2>
                </plugin>
            </sensor>
        </gazebo>

    </xacro:macro>

</robot>