<robot name="move"
    xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- JOINT_TRANS -->
    <xacro:macro name="joint_trans" params="joint_name">
        <transmission name="${joint_name}_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint_name}">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint_name}_motor">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <xacro:joint_trans joint_name="front_left_wheel_joint" />
    <xacro:joint_trans joint_name="front_right_wheel_joint" />
    <xacro:joint_trans joint_name="back_left_wheel_joint" />
    <xacro:joint_trans joint_name="back_right_wheel_joint" />

    <gazebo reference="front_left_wheel_joint">
        <mu1 value="0.5"/>
		<mu2 value="0.5"/>
		<kp value="200000.0" />
		<kd value="10.0" />
		<fdir1 value="1 0 0"/>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="front_right_wheel_joint">
        <mu1 value="0.5"/>
		<mu2 value="0.5"/>
		<kp value="200000.0" />
		<kd value="10.0" />
		<fdir1 value="1 0 0"/>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="back_left_wheel_joint">
        <mu1 value="0.5"/>
		<mu2 value="0.5"/>
		<kp value="200000.0" />
		<kd value="10.0" />
		<fdir1 value="1 0 0"/>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="back_right_wheel_joint">
        <mu1 value="0.5"/>
		<mu2 value="0.5"/>
		<kp value="200000.0" />
		<kd value="10.0" />
		<fdir1 value="1 0 0"/>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <!-- CONTROLLER -->
    <gazebo>
        <plugin name="mecanum_controller" filename="libgazebo_ros_planar_move.so">
            <ros>
                <remapping>cmd_vel:=cmd_vel</remapping>
                <remapping>odom:=odom</remapping>
            </ros>
            <update_rate>100.0</update_rate>
            <publish_rate>100.0</publish_rate>
            <robotNamespace>/</robotNamespace>
            <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>
            <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>
            <leftRearJoint>back_left_wheel_joint</leftRearJoint>
            <rightRearJoint>back_right_wheel_joint</rightRearJoint>
            <wheelSeparation>0.56</wheelSeparation>
            <wheelDiameter>0.18</wheelDiameter>
            <torque>30</torque>
            <wheelAcceleration>1.8</wheelAcceleration>
            <covariance_x>0.000100</covariance_x>
            <covariance_y>0.000100</covariance_y>
            <covariance_yaw>0.000100</covariance_yaw>
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
        </plugin>
    </gazebo>

</robot>
