<robot name="robot"
    xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:include filename="inertia.xacro" />
    <xacro:include filename="base.xacro" />
    <xacro:include filename="wheel.xacro" />
    <xacro:include filename="move.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="imu.xacro" />
    <xacro:include filename="laser.xacro" />

    <xacro:property name="PI" value="3.141592653589793"/>
    <xacro:property name="package_name" value="sim_env" />

    <xacro:property name="wheel_offset_x" value="0.07" />
    <xacro:property name="wheel_offset_y" value="0.0954" />
    <xacro:property name="wheel_offset_z" value="-0.04" />

    <xacro:property name="laser_x" value="0.0" />
    <xacro:property name="laser_y" value="0.0" />
    <xacro:property name="laser_z" value="0.069" />

    <xacro:macro name="robot">

        <!-- BASE_LINK -->
        <xacro:robot_base/>

        <!-- WHEELS -->
        <xacro:omni_wheel prefix="front_right" parent="base_link" reflect="false">
            <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:omni_wheel>

        <xacro:omni_wheel prefix="front_left" parent="base_link" reflect="true">
            <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:omni_wheel>

        <xacro:omni_wheel prefix="back_left" parent="base_link" reflect="true">
            <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:omni_wheel>

        <xacro:omni_wheel prefix="back_right" parent="base_link" reflect="false">
            <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
        </xacro:omni_wheel>

        <!-- CAMERA -->
        <xacro:robot_camera/>

        <!-- IMU -->
        <!-- <xacro:robot_imu/> -->

        <!-- 2D LIDAR -->
        <xacro:robot_laser prefix="front" parent="base_link">
            <origin xyz="${laser_x} ${laser_y} ${laser_z}" rpy="0 0 0"/>
        </xacro:robot_laser>

    </xacro:macro>

    <xacro:robot/>

</robot>
